body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  header {
    background-color: #FFC0CB; 
    color: black;
    text-align: center;
    width: 100%;
    border: 1px solid crimson;
  }
  
  footer {
    background-color: #FFC0CB; 
    border: 1px solid crimson;
    text-align: center;
    width: 100%;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  article {
    border: 1px solid crimson;
    background-color: rgb(253, 201, 210);
    margin: 30px;  
    box-sizing: border-box;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  article h2 {
    position: absolute;
    top: -10px;  
    left: 50%;
    transform: translateX(-50%);  
    background-color: #fff; 
    padding: 0 10px;
    border: 1px solid crimson;
    border-radius: 5px;
  }
  
  article h3 {
    margin-top: 40px;  
    padding: 20px;
    border-radius: 10px;
  }